<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/login.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="left">
                <a href=""><p>COVID CARE</p></a>
                <img src="/assets/login.png" alt="">
            </div>

            <div class="right">
                
                <h2>Login</h2>
                <form method='post' action="/login" class="form">
                    
                    <input type="text" name="username" class="email" placeholder="Username"><br><br>
                    <input type="password" name="password" class="password" placeholder="Password"><br><br>
                    <button class="submit">Login</button>
                   
                </form>
                
            </div>
            
           
        </div>
    </body>
</html>