<html>
    <head>
        <link rel="stylesheet" href="/css/signup.css">
    </head>

    <body>
        <div class="left">
            <p>COVID CARE</p>
            <img src="/assets/sign.jpg" alt="">
        </div>

        <div class="right">
            <h2>Sign Up</h2>
            <p class="rightp">Welcome! If you haven't started your journey with us yet then what are you waiting for? Join our community and begin your expedition to daily doses of joy via our apps designed for you :)
                If you already have an account, login.</p>
            <form method='post' action="/signup">
                <input type="text" name="username" class="username" placeholder="Enter Name"><br><br>
                <input type="text" name="email" class="email" placeholder="Enter Email-Id"><br><br>
                <input type="password" name="password" class="password" placeholder="Create a Password"><br><br>
          
                <button>SignUp</button>
            </form>
        </div>

   
    </body>
</html>